/* Start variables */
:root {
   --main-color: #00dab8;
}
/* End variables */
/* Start global rules */
* {
   -webkit-border-sizing: border-box;
   -moz-border-sizing: border-box;
   -ms-border-sizing: border-box;
   -o-border-sizing: border-box;
   box-sizing: border-box;
}
@media (max-width: 1199px) {
   :root {
      font-size: 14px;
   }
}
@media (max-width: 767px) {
   :root {
      font-size: 13px;
   }
}
body {
   background-image: url("../images/background-image.png");
   background-size: cover;
   height: 100vh;
   color: white;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   position: relative;
}
.attribution {
   position: absolute;
   left: 20px;
   top: 20px;
}
.container {
   margin: 0 auto;
   padding: 0 15px;
}
/* Small */
@media (min-width: 768px) {
   .container {
      width: 750px;
   }
}
/* Medium */
@media (min-width: 992px) {
   .container {
      width: 980px;
   }
}
/* Large */
@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}
/* End global rules */
/* Start header */
header {
   padding: 25px 0 0;
   position: absolute;
   width: 100%;
   z-index: 3;
}
header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header .container img {
   height: 60px;
}
@media (max-width: 991px) {
   header .container img {
      height: 50px;
   }
}
header .container nav {
   display: flex;
   align-items: center;
   gap: 30px;
   font-size: 1.2rem;
   position: relative;
}
header .container nav .icon {
   background: none;
   border: none;
   width: fit-content;
   display: flex;
   flex-direction: column;
   gap: 5px;
   order: 1;
   cursor: pointer;
}
header .container nav .icon span {
   width: 8px;
   height: 8px;
   background-color: var(--main-color);
   border-radius: 50%;
}
header .container nav ul {
   display: flex;
   list-style: none;
   gap: 30px;
   padding: 0;
   margin: 0;
}
@media (max-width: 991px) {
   header .container nav ul {
      display: none;
   }
   header .container nav ul li {
      padding: 20px;
      text-align-last: left;
   }
   header .container nav ul li:hover {
      background-color: white;
   }
   header .container nav .icon:focus ~ ul {
      width: 300px;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      gap: 0;
      background-color: var(--main-color);
   }
}
header .container nav ul li:hover {
   color: var(--main-color);
   transition: 0.5s;
   cursor: pointer;
}
header .container nav form input[type="search"] {
   background-color: transparent;
   border: 3px solid var(--main-color);
   color: white;
   padding: 6px 20px;
   border-radius: 50px;
   text-align: right;
   caret-color: var(--main-color);
}
@media (max-width: 767px) {
   header .container nav form input[type="search"] {
      right: 0;
      top: 50px;
      width: 120px;
      margin: 0 auto;
      text-align: center;
      padding: 8px 0;
      transition: top 0.5s linear;
   }
   header .container nav form input[type="search"]:focus {
      position: absolute;
      top: calc(100% + 20px);
      width: calc(100vw - 30px);
   }
}
header .container nav form input::placeholder {
   opacity: 1;
}
header .container nav form input[type="search"]:focus {
   outline: none;
}
/* End header */
/* Start landing */
section.landing {
   height: 100vh;
   display: flex;
   position: relative;
   overflow: hidden;
}
section.landing::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background-image: url("../images/victors.png");
   background-size: cover;
   bottom: -200px;
}
section.landing .container {
   display: flex;
   align-items: center;
}
@media (max-width: 1199px) {
   section.landing {
      overflow: initial;
   }
   section.landing .container {
      flex-direction: column;
      margin-top: 130px;
      gap: 50px;
      text-align: center;
   }
}
section.landing .container > div {
   flex-basis: 50%;
   position: relative;
}
@media (max-width: 1199px) {
   section.landing .container > div {
      width: 100%;
   }
}
section.landing .container .text h1 {
   font-size: 3.4rem;
   text-transform: uppercase;
   width: 360px;
}
@media (max-width: 767px) {
   section.landing .container .text h1 {
      width: 100%;
   }
}
@media (max-width: 1199px) {
   section.landing .container > div > * {
      margin: 0 auto;
   }
}
section.landing .container .text p {
   line-height: 1.6;
   width: 500px;
   font-size: 1.1rem;
}
@media (max-width: 1199px) {
   section.landing .container .text p {
      margin: 20px auto;
   }
}
@media (max-width: 767px) {
   section.landing .container .text p {
      width: 100%;
   }
}
section.landing .container .text a {
   background-color: var(--main-color);
   color: #10192a;
   font-size: 1.2rem;
   font-weight: bold;
   text-transform: uppercase;
   text-decoration: none;
   padding: 15px 60px;
   border-radius: 50px;
   margin: 60px 0;
   display: block;
   width: fit-content;
}
@media (max-width: 1199px) {
   section.landing .container .text a {
      margin: 20px auto;
   }
}
section.landing .container .text .social-icons {
   display: flex;
   gap: 16px;
}
@media (max-width: 1199px) {
   section.landing .container .text .social-icons {
      display: flex;
      justify-content: center;
   }
}
section.landing .container .text .social-icons img {
   height: 40px;
   cursor: pointer;
}
section.landing .container .image img {
   width: 100%;
}
@media (max-width: 1199px) {
   section.landing .container .image img {
      width: 80%;
   }
}
section.landing .container .image p {
   position: absolute;
   font-size: 1.9rem;
   font-weight: bold;
   width: 250px;
   text-align: right;
   top: 0;
   right: 40px;
   text-transform: uppercase;
}
@media (max-width: 1199px) {
   section.landing .container .image p {
      top: 60px;
      right: 200px;
   }
}
@media (max-width: 991px) {
   section.landing .container .image p {
      top: 35px;
      right: 135px;
   }
}
@media (max-width: 767px) {
   section.landing .container .image {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
   }
   section.landing .container .image p {
      position: initial;
      text-align: center;
      width: 100%;
      margin: 0 0 20px;
   }
}
/* End landing */